In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, RobustScaler, StandardScaler

In [2]:
SEED = 2024

In [3]:
df = pd.read_csv("HTRU_2.csv",sep=",",header=None)

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0

In [5]:
len(df)

17898

In [6]:
df[8].value_counts()

0    16259
1     1639
Name: 8, dtype: int64

In [7]:
labels = df[8]

In [8]:
labels

0        0
1        0
2        0
3        0
4        0
        ..
17893    0
17894    0
17895    0
17896    0
17897    0
Name: 8, Length: 17898, dtype: int64

In [9]:
df = df.drop([8],axis=1)
df["Labels"] = labels
df

,0,1,2,3,4,5,6,7,Labels
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0
...,...,...,...,...,...,...,...,...,...
17893,136.429688,59.847421,-0.187846,-0.738123,1.296823,12.166062,15.450260,285.931022,0
17894,122.554688,49.485605,0.127978,0.323061,16.409699,44.626893,2.945244,8.297092,0
17895,119.335938,59.935939,0.159363,-0.743025,21.430602,58.872000,2.499517,4.595173,0
17896,114.507812,53.902400,0.201161,-0.024789,1.946488,13.381731,10.007967,134.238910,0
17897,57.062500,85.797340,1.406391,0.089520,188.306020,64.712562,-1.597527,1.429475,0

In [10]:
df["Labels"].value_counts()

0    16259
1     1639
Name: Labels, dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17898 entries, 0 to 17897
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       17898 non-null  float64
 1   1       17898 non-null  float64
 2   2       17898 non-null  float64
 3   3       17898 non-null  float64
 4   4       17898 non-null  float64
 5   5       17898 non-null  float64
 6   6       17898 non-null  float64
 7   7       17898 non-null  float64
 8   Labels  17898 non-null  int64
dtypes: float64(8), int64(1)
memory usage: 1.2 MB

In [12]:
X_train_, X_test = train_test_split(df, test_size=0.1, random_state=SEED)

In [13]:
X_train_

,0,1,2,3,4,5,6,7,Labels
11583,93.734375,50.264221,0.437706,0.207748,24.388796,56.341590,2.145113,3.177422,0
15516,114.054688,52.423204,0.149742,-0.286647,2.520903,16.242839,9.467739,109.048145,0
3462,87.804688,39.197827,0.721681,2.058747,2.642977,14.066688,8.387087,103.761808,0
16313,142.265625,49.541095,-0.188452,-0.241917,2.411371,14.191170,10.187500,139.921849,0
2483,116.031250,56.691178,0.092955,-0.493398,4.192308,25.302976,6.420555,42.167027,0
...,...,...,...,...,...,...,...,...,...
16567,128.125000,48.357555,-0.005863,-0.100869,2.019231,15.440807,10.652478,137.918490,0
2494,135.554688,41.715706,-0.047587,0.910534,2.617893,17.409786,8.831467,89.780556,0
14875,124.976562,45.683946,-0.209657,0.109942,4.981605,26.593647,5.563959,31.319089,0
2688,125.304688,49.947873,0.053109,-0.068939,1.628763,12.247147,12.262394,195.921439,0
7816,120.867188,39.129267,0.068661,1.005908,2.090301,13.255599,10.760405,152.782160,0

In [14]:
# Smote on X_train_

In [15]:
#!pip install imblearn

In [16]:
#!pip install scikit-learn==1.1

In [17]:
from imblearn.over_sampling import SMOTE

In [18]:
y_train_= X_train_["Labels"]
X_train_ = X_train_.drop("Labels",axis=1)

In [19]:
sm = SMOTE(random_state=SEED)
X_resampled,y_resampled= sm.fit_resample(X_train_, y_train_)

In [20]:
len(X_resampled), len(y_resampled)

(29282, 29282)

In [21]:
X_resampled["Labels"] = y_resampled

In [22]:
X_resampled

,0,1,2,3,4,5,6,7,Labels
0,93.734375,50.264221,0.437706,0.207748,24.388796,56.341590,2.145113,3.177422,0
1,114.054688,52.423204,0.149742,-0.286647,2.520903,16.242839,9.467739,109.048145,0
2,87.804688,39.197827,0.721681,2.058747,2.642977,14.066688,8.387087,103.761808,0
3,142.265625,49.541095,-0.188452,-0.241917,2.411371,14.191170,10.187500,139.921849,0
4,116.031250,56.691178,0.092955,-0.493398,4.192308,25.302976,6.420555,42.167027,0
...,...,...,...,...,...,...,...,...,...
29277,32.428985,43.313465,3.631580,13.337052,74.835336,68.294569,0.685239,-0.319316,1
29278,98.556740,47.392817,0.834697,1.011664,25.996273,61.087576,2.240735,3.662472,1
29279,14.774589,37.268951,5.033660,25.876964,124.954390,70.719016,0.156804,-1.141779,1
29280,62.970407,34.027488,2.622132,10.989636,48.789219,65.535087,1.432364,1.132814,1
29281,97.323310,44.317509,0.723723,1.447003,2.460795,17.673520,9.631126,109.535099,1

In [23]:
X_resampled["Labels"].value_counts()

0    14641
1    14641
Name: Labels, dtype: int64

In [24]:
len(X_test)

1790

In [25]:
X_train, X_valid = train_test_split(X_resampled, test_size=0.1, random_state=SEED)

In [26]:
X_train.columns

Index([0, 1, 2, 3, 4, 5, 6, 7, 'Labels'], dtype='object')

In [27]:
cols = X_train.columns[:-1]
cols

Index([0, 1, 2, 3, 4, 5, 6, 7], dtype='object')

In [28]:
len(X_train), len(X_valid), len(X_test)

(26353, 2929, 1790)

In [29]:
X_train["Labels"].value_counts()

1    13189
0    13164
Name: Labels, dtype: int64

In [30]:
X_valid["Labels"].value_counts()

0    1477
1    1452
Name: Labels, dtype: int64

In [31]:
X_test["Labels"].value_counts()

0    1618
1     172
Name: Labels, dtype: int64

In [32]:
X_train = X_train[X_train["Labels"]==0]

In [33]:
X_train

,0,1,2,3,4,5,6,7,Labels
15502,146.093750,46.782148,-0.182414,0.083016,1.823579,18.376583,10.816643,120.463003,0
15513,114.156250,41.541289,0.577129,1.516991,1.039298,12.752767,14.106027,217.465501,0
7707,132.398438,49.090213,0.035531,-0.455355,1.646321,14.152697,10.596625,133.474216,0
1714,101.968750,46.316327,0.439814,0.294261,1.748328,16.486623,10.810393,127.733366,0
13332,168.062500,44.009720,-0.653927,1.132875,1.256689,12.826805,13.073273,197.136651,0
...,...,...,...,...,...,...,...,...,...
7977,103.921875,47.645109,0.197722,0.181032,4.494983,25.651950,6.819495,50.263754,0
2494,121.664062,55.256402,0.014271,-0.608809,4.677258,28.250454,6.604769,44.817260,0
14875,126.125000,42.971284,-0.059258,0.265109,2.623746,19.325817,8.561876,80.169221,0
2688,113.398438,40.149397,0.322763,0.532786,2.985786,16.622323,8.176916,83.887394,0
7816,108.382812,49.396850,0.611931,0.044871,2.535117,16.391620,8.444314,86.724906,0

In [34]:
#scaler = MinMaxScaler()
#scaler = RobustScaler()
scaler = StandardScaler()

In [35]:
scaler.fit(X_train[cols])

StandardScaler()

In [36]:
X_train[cols] = scaler.transform(X_train[cols])
X_valid[cols] = scaler.transform(X_valid[cols])
X_test[cols]  = scaler.transform(X_test[cols])

In [37]:
X_train

,0,1,2,3,4,5,6,7,Labels
15502,1.689952,-0.095750,-1.168010,-0.283883,-0.287683,-0.293165,0.459327,0.062829,0
15513,-0.139220,-0.945737,1.091967,1.101706,-0.319768,-0.631810,1.235442,0.970907,0
7707,0.905573,0.278584,-0.519527,-0.804088,-0.294935,-0.547511,0.407414,0.184632,0
1714,-0.837241,-0.171299,0.683395,-0.079765,-0.290762,-0.406971,0.457852,0.130890,0
13332,2.948178,-0.545395,-2.570969,0.730551,-0.310874,-0.627352,0.991769,0.780600,0
...,...,...,...,...,...,...,...,...,...
7977,-0.725379,0.044210,-0.036938,-0.189175,-0.178397,0.144931,-0.483783,-0.594333,0
2494,0.290778,1.278646,-0.582783,-0.952364,-0.170940,0.301403,-0.534447,-0.645320,0
14875,0.546272,-0.713814,-0.801567,-0.107934,-0.254949,-0.236005,-0.072676,-0.314377,0
2688,-0.182623,-1.171481,0.335114,0.150711,-0.240138,-0.398800,-0.163506,-0.279569,0
7816,-0.469885,0.328315,1.195517,-0.320741,-0.258574,-0.412692,-0.100414,-0.253006,0

In [38]:
X_train["Labels"].value_counts(), X_valid["Labels"].value_counts(), X_test["Labels"].value_counts()

(0    13164
 Name: Labels, dtype: int64,
 0    1477
 1    1452
 Name: Labels, dtype: int64,
 0    1618
 1     172
 Name: Labels, dtype: int64)

In [39]:
len(X_train), len(X_valid), len(X_test)

(13164, 2929, 1790)

In [40]:
#X_train = X_train[X_train["Labels"]==0]

In [41]:
X_train = X_train.drop("Labels",axis=1)

In [42]:
X_train.to_csv("htru2smote_train.csv",header=None,index=False,sep=" ")
X_valid.to_csv("htru2smote_valid.csv",header=None,index=False,sep=" ")
X_test.to_csv("htru2smote_test.csv",header=None,index=False,sep=" ")
len(X_train), len(X_valid), len(X_test), len(X_train.columns)

(13164, 2929, 1790, 8)

In [43]:
X_valid.columns, X_test.columns

(Index([0, 1, 2, 3, 4, 5, 6, 7, 'Labels'], dtype='object'),
 Index([0, 1, 2, 3, 4, 5, 6, 7, 'Labels'], dtype='object'))